<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/headFragment :: headFragment(title='Admin panel')">
    <title>Blog</title>
</head>
<body>
<div class="page">
    <div th:replace="fragments/home-fragments :: pageHead(language=${lang})"></div>
    <div class="mainContainer">
        <div class="right-side banner"></div>
        <div class="main">
            <div class="container pt-4 px-3 px-lg-3 m-2">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <table class="table table-bordered table-hover">
                        <thead class=".thead-light">
                        <tr>
                            <th style="width: 10%" th:text="#{admin.id}"></th>
                            <th style="width: 30%" th:text="#{admin.username}"></th>
                            <th style="width: 15%" th:text="#{admin.postCount}"></th>
                            <th style="width: 15%" th:text="#{admin.commentCount}"></th>
                            <th style="width: 25%" th:text="#{admin.privileges}"></th>
                            <th style="width: 5%" th:text="#{admin.changePrivileges}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="u : ${users}">
                            <div th:replace="fragments/admin-fragments :: users(user = ${u})"></div>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="left-side banner"></div>
    </div>
</div>
<div th:include="fragments/headFragment :: footer"></div>
</body>
</html>