<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/headFragment :: headFragment(title='Create post')">
</head>
<body>
<div class="d-flex justify-content-center align-items-center" style="height: 95vh">
    <form class="w-75 p-4 p-md-5 border rounded-3 bg-light d-flex flex-column" method="POST" th:object="${newPost}">
        <div th:replace="fragments/create-post-fragments :: title"></div>
        <div th:replace="fragments/create-post-fragments :: text"></div>
        <div th:replace="fragments/create-post-fragments :: submit"></div>
    </form>
</div>
<div th:include="fragments/headFragment :: footer"></div>
</body>
</html>