<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/headFragment :: headFragment(title=${post.title})">
    <title>Post</title>
</head>
<body>
<!--TODO change this to fragment-->
<div class="page">
    <div th:replace="fragments/home-fragments :: pageHead(language=${lang}, user=${loggedUser})"></div>
    <div class="mainContainer">
        <div class="banner"></div>
        <div class="right-side banner"></div>
        <div class="main">
            <div class="container pt-4 px-3 px-lg-3 m-2">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-11">
                        <div th:replace="fragments/post-fragments :: post(loggedUser=${loggedUser})"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="left-side banner"></div>
    </div>
</div>
<div th:include="fragments/headFragment :: footer"></div>
</body>
</html>