<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/headFragment :: headFragment(title=${post.title})">
    <title>Post</title>
</head>
<body>
<div class="page">
    <div th:replace="fragments/home-fragments :: pageHead(language=${lang})"></div>
    <div class="mainContainer">
        <div class="banner"></div>
        <div class="right-side banner"></div>
        <div class="main">
            <div th:replace="fragments/post-fragments :: post"></div>
        </div>
        <div class="left-side banner"></div>
    </div>
</div>
<div th:include="fragments/headFragment :: footer"></div>
</body>
</html>