body {
    margin: 5px 20px;
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

.page {
    grid-column: 2;
}

.head {
    flex-flow: row wrap;
    overflow-wrap: anywhere;
    align-items: center;
}

.head > * {
    margin: 5px 0;
}

.header {
    margin: 0 10px;
    font-size: 4vh;
    align-self: center;
    flex-grow: 10;
}

.headerRight {
    justify-self: flex-end;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.headerRight > * {
    margin: 2px 4px;
}

#searchForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.logo {
    justify-self: flex-start;
}

#left-logo {
    width: 100%;
    height: auto;
}

.mainContainer {
    display: grid;
    grid-template-areas: "left m right";
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1fr;
    grid-gap: 6px;
}

.main {
    grid-area: m;
    display: flex;
    flex-flow: column wrap;
    overflow-wrap: anywhere;
    background-color: lightskyblue;
}

.text-main {
    grid-column: 2;
    background-color: beige;
    margin: 6px 0;
}

.left-side {
    grid-area: left;
}

.right-side {
    grid-area: right;
}

.banner {
    height: inherit;
}

.left-side.banner {
    background-color: red;
}

.right-side.banner {
    background-color: yellow;
}