body {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#email, #password, #username {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#loginForm > * {
    padding: 10px 20px;
    margin: 1px;
    font-size: large;
}

#button {
    margin-top: 5px;
}

.ml-2 {
    margin-left: 10px !important;
}
