<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/headFragment :: headFragment(title='Log in')">
</head>
<body>
<div class="d-flex justify-content-center align-items-center" style="height: 95vh">
    <form class="w-30 p-4 p-md-5 border rounded-3 bg-light d-flex flex-column" method="POST" th:action="@{/login}">
        <div th:replace="fragments/login-register-fragments :: email"></div>
        <div th:replace="fragments/login-register-fragments :: password"></div>
        <div class="alert alert-danger" role="alert" th:if="${param.error ne null}">
            Bad username or password!
        </div>
        <div th:replace="fragments/login-register-fragments :: bottomForm(message=${msg})"></div>
    </form>
</div>
<div th:include="fragments/headFragment :: footer"></div>
</body>
</html>