<div th:fragment="search">
    <form method="POST" th:object="${entrySearch}" id="searchForm">
        <div class="input-group">
            <div class="form-outline">
                <input type="search" id="form1" class="form-control" placeholder="Enter keyword"
                       th:field="*{keyword}"/>
            </div>
            <button type="submit" class="btn btn-dark">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</div>
<div th:fragment="adminPanelButton">
    <button type="button" value="Admin panel" class="btn btn-dark" onclick="location.href = '/admin-panel'"></button>
</div>