<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="page">
    <div th:replace="fragments/home-fragments :: pageHead(language=${lang})"></div>
    <div class="mainContainer">
        <div class="right-side banner"></div>
        <div class="main">
            <div class="container pt-4 px-3 px-lg-3 m-2">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="container-fluid mt-2" th:if="${posts.hasContent()}">
                        <div class="container">
                            <div>
                                <div class="col-12" th:each="p: ${posts.content}">
                                    <div th:replace="fragments/main :: content(post = ${p})"></div>
                                </div>
                                <div th:include="fragments/main :: paginator(endpoint=${'/'}, pagebaleObj=${posts})"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left-side banner"></div>
            </div>
        </div>
    </div>
</div>

</html>